{% extends 'base_auth.html' %}

{% block auth_content %}

<div class="card-body">
    <div class="pt-4 pb-2">
      <h5 class="card-title text-center pb-0 fs-4">Forgot Password</h5>
    </div>
  
    <form method="post" class="row g-3 needs-validation" novalidate>
      {% csrf_token %}
      <div class="col-12">
        <label for="email" class="form-label">Email</label>
        <div class="input-group has-validation">
          <input type="email" name="email" class="form-control" id="email" placeholder="email@address.com" required>
          <div class="invalid-feedback">Please enter your email address.</div>
        </div>
      </div>
  
      <div class="col-12">
        <button class="btn btn-primary w-100" type="submit">Recover Password</button>
      </div>
      
      <div class="col-12 mt-4">
        <p class="small mb-0">Remember your password? <a href="{% url 'login' %}">Login</a></p>
      </div>
    </form>
    
</div>


{% endblock auth_content %}