{% extends 'base_auth.html' %}

{% block auth_content %}

<div class="card-body">
    <div class="pt-4 pb-2">
      <h5 class="card-title text-center pb-0 fs-4">Enter your new password</h5>
    </div>
  
    <form method="post" class="row g-3 needs-validation" novalidate>
      {% csrf_token %}
      <div class="col-12">
        <label for="yourPassword" class="form-label">New Password</label>
        <input type="password" name="new_password1" class="form-control" id="new_password1" placeholder="***************" required>
        <div class="invalid-feedback">Please enter your password!</div>
      </div>
  
      <div class="col-12">
        <label for="yourPassword" class="form-label">Confirm Password</label>
        <input type="password" name="new_password2" class="form-control" id="new_password2" placeholder="***************" required>
        <div class="invalid-feedback">Please confirm your password!</div>
      </div>

      <div class="col-12">
        <button class="btn btn-primary w-100" type="submit">Change Password</button>
      </div>
      <div class="col-12 mt-4">
        <p class="small mb-0">Remember your password? <a href="{% url 'login' %}">Login</a></p>
      </div>
    </form>
</div>

{% endblock auth_content %}