{% extends 'base.html' %}


{% block content %}
<div class="search-bar col col-md-12 row">
    <div class="col col-md-8">
        <form action="#" method="post">
            {% csrf_token %}
            <div class="input-group">
                <input type="text" class="form-control" name="search" placeholder="Search for client">
                <span class="input-group-btn">
                    <button class="btn btn-warning" type="submit">Search</button>
                </span>
            </div>
        </form>
    </div>
    <div class="col col-md-4">
        <a href="{% url 'add-client' %}" class="btn btn-warning float-end">Add Client</a>
    </div>
</div>

<div class="list-content row mt-5 pt-5 border-top">
    {% include "components/action_message.html" %}
    <div class="col col-md-12 ">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th scope="col">Name</th>
                    <th scope="col">Email</th>
                    <th scope="col">Phone</th>
                    <th scope="col">Website</th>
                    <th scope="col">Action</th>
                </tr>
            </thead>
            <tbody>
                {% for client in clients %}
                <tr>
                    <td>{{ client.name }}</td>
                    <td>{{ client.email }}</td>
                    <td>{{ client.phone }}</td>
                    <td>{{ client.website_url }}</td>
                    <td>
                        <a href="{% url 'edit-client' client.id %}" class="btn btn-warning">Edit</a>
                        <button type="button" class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#myModal-{{client.id}}">
                            Delete
                        </button>
                        <!-- Modal HTML -->
                        <div id="myModal-{{client.id}}" class="modal fade"  tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                            <div class="modal-dialog modal-confirm">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h4 class="modal-title">Are you sure?</h4>
                                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                </div>
                                <div class="modal-body">
                                    <p>Do you really want to delete client <strong>{{client.name}}</strong>? This process cannot be undone.</p>
                                    </div>
                                    <div class="modal-footer">
                                        <form action="{% url 'delete-client' client.id %}" method="post">
                                            {% csrf_token %}
                                            <button type="button" class="btn btn-info" data-bs-dismiss="modal">Cancel</button>
                                            <button type="submit" class="btn btn-danger">Delete</button>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>
{% endblock %}