<header class="p-3 text-bg-dark">
    <div class="container">
      <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">
        <a href="/" class="d-flex align-items-center mb-2 mb-lg-0 text-white text-decoration-none">
          <svg class="bi me-2" width="40" height="32" role="img" aria-label="Bootstrap"><use xlink:href="#bootstrap"></use></svg>
        </a>

        <ul class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0">
          <li><a href="/" class="nav-link px-2 text-warning">Home</a></li>
          <li><a href="{% url 'all-clients' %}" class="nav-link px-2 text-white">Clients</a></li>
          <li><a href="{% url 'invoice_list' %}" class="nav-link px-2 text-white">Invoices</a></li>
          <li class="dropdown">
            <a href="#" class="nav-link px-2 text-white dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">Settings</a>
            <ul class="dropdown-menu text-small">
              <li><a class="dropdown-item" href="{% url 'currency_list' %}">Currencies</a></li>
            </ul>
          </li>
          <li><a href="{% url 'user-profile' %}" class="nav-link px-2 text-white">My Profile</a></li>
        </ul>

        <ul class="nav">
          <li class="nav-item"><a class="nav-link disabled px-2 text-warning" >Welcome {{request.user.get_full_name}}</a></li>
          <li class="nav-item">
            <form method="post" action="{% url 'logout' %}">
              {% csrf_token %}
              <button type="submit" class="nav-link px-2 text-white">Logout</button>
            </form>
          </li>
        </div>
      </div>
    </div>
  </header>