{% extends "useraccounts/profile-template.html" %}


{% block profilecontent %}
<div class="profile-edit pt-3" id="profile-edit">
  <form method="post">
    {% csrf_token %}
    <div class="row ">
      <div class="col col-md-6">
        {% include "components/action_message.html" %}
        <br />
        <div class="row g-3">
          <div class="col-md-6">
            <label for="first_name" class="form-label">First Name</label>
            <input name="first_name" type="text" class="form-control" id="first_name" value="{{request.user.get_first_name}}">
            {% if form.errors and form.first_name.errors is not None %}
              <span style="color: red;">{{form.first_name.errors}}</span>
            {% endif %}
          </div>
          <div class="col-md-6">
            <label for="last_name" class="form-label">Last Name</label>
            <input name="last_name" type="text" class="form-control" id="last_name" value="{{request.user.get_last_name}}">
            {% if form.errors and form.last_name.errors is not None %}
                <span style="color: red;">{{form.last_name.errors}}</span>
            {% endif %}
          </div>

          <div class="col-md-12">
            <label for="email" class="form-label">Email</label>
            <input name="email" type="email" class="form-control" id="Email" value="{{request.user.get_email_address}}" >
            {% if form.errors and form.email.errors is not None %}
                <span style="color: red;">{{form.email.errors}}</span>
            {% endif %}
          </div>

          <div class="col-md-12">
            <label for="phone_number" class="form-label">Phone Number</label>
            <input name="phone_number" type="text" class="form-control" id="phone_number" value="{{request.user.get_phone_number}}">
            {% if form.errors and form.phone_number.errors is not None %}
                <span style="color: red;">{{form.phone_number.errors}}</span>
            {% endif %}
          </div>

          <div class="col-12">
            <label for="inputState" class="form-label">Account Type</label>
            <select id="account_type" name="account_type" class="form-select">
              <option>Select Account Type</option>
              {% for account_type in account_types %}
                <option 
                  value="{{account_type.id}}"  
                  {% if account_type.id == request.user.get_account_type.id %}
                    selected
                  {% endif %}
                >{{account_type.name}}</option>
              {% endfor %}
            </select>
            {% if form.errors and form.account_type.errors is not None %}
                <span style="color: red;">{{form.account_type.errors}}</span>
            {% endif %}
          </div>

          <div class="text-left">
            <button type="submit" class="btn btn-primary">Save Changes</button>
          </div>
        </div>
      </div>
      
    </div>
    
  </form>
</div>

{% endblock %}